* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

::placeholder {
  color: #B4B4B4;
}

body {
	background: rgba(255, 254, 251, 0.8);
	color: #000;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1376px;
	margin: 0 auto;
	padding: 0 32px;
	width: 100%;
}